.outer-link {
    /* display: flex;
    flex-wrap: wrap; */
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-spots {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border-top: 1px solid rgb(128, 128, 128, 0.3);
    padding-top: 30px;
}

.land-image {
    height: 242px;
    width: 255px;
    border-radius: 16px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
}

.spot-name {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 60%;
    font-size: 10pt;
}

.location-stars {
    /* city, state */
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-decoration: none;
    color:black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
    font-size: 10pt;
}

.spot-price {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10pt;
    font-weight: bold;
    /* opacity: 65%; */
}

#night {
    font-weight: lighter;
}
.avg-rating {
    text-align: right;
    text-decoration: none;
    margin-right: 5px;
    font-size: 10pt;
}

a {
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}

.spot-bottom {
    display: flex;
    align-items: left;
    text-decoration: none;
    margin-bottom: 20px;

}

.night {
    text-decoration: none;
}