.entire-landpage {
    /* display: flex;
    flex-wrap: wrap; */
}

.all-spots {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', 'Sans Serif';
    width: 85%;
    justify-content: center;
    align-items: center;
}

.land-image {
    height: 325px;
    width: 325px;
    border-radius: 16px;
    margin-left: 10px;
    margin-right: 20px;
}

.spot-name {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 60%;
}

.location-stars {
    /* city, state */
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-decoration: none;
    color:black;
    margin-left: 10px;
    margin-right: 10px;
}

.spot-price {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    /* opacity: 65%; */
}

.avg-rating {
    text-align: right;
    text-decoration: none;
    margin-right: 20px;
}

a {
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}

.spot-bottom {
    display: flex;
    align-items: left;
    text-decoration: none;
    margin-bottom: 20px;
}

.night {
    text-decoration: none;
}