.edit-spot-page {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgb(128, 128, 128, 0.3);
}

.address, .city, .state, .country, .name, .description {
    border-radius: 16px;
    border: 1px solid grey;
    width: 350px;
    height: 25px;
    padding-left: 7px;
    margin-bottom: 5px;
}

.price2 {
    border-radius: 16px;
    border: 1px solid grey;
    width: 350px;
    height: 10px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    margin-bottom: 5px;
}

#input-description {
    border-radius: 16px;
    border: 1px solid grey;
    width: 350px;
    height: 50px;
    text-align: top;
    padding-left: 7px;
    margin-bottom: 5px;
}

.edit-form-title {
    margin-bottom: -25px;
    padding-top: 20px;
}

.submit-edit {
    background-color: rgb(255,90,95);
    border: none;
    color: white;
    height: 40px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 13px;
    width: 362px;
}