.new-spot-page {
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    text-align: center;
}

#input-address, #input-city, #input-state, #input-country, #input-name, #input-preview-img {
    border-radius: 16px;
    border: 1px solid grey;
    width: 350px;
    height: 25px;
    padding-left: 7px;
    margin-bottom: 5px;
}

#input-price {
    border-radius: 16px;
    border: 1px solid grey;
    width: 350px;
    height: 10px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    margin-bottom: 5px;
}

#input-description {
    border-radius: 16px;
    border: 1px solid grey;
    width: 350px;
    height: 50px;
    text-align: top;
    padding-left: 7px;
    margin-bottom: 5px;
}

.title {
    margin-bottom: -25px;
    border-top: 1px solid rgb(128, 128, 128, 0.3);
    padding-top: 20px;
}

.submit-new-spot {
    background-color: rgb(255,90,95);
    border: none;
    color: white;
    height: 40px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 15px;
    width: 362px;
}