form {
    display: flex;
    align-items: center;
    padding: 100px;
    align-items: left;
    /* margin-bottom: 15px; */
}

.signup-form {
    display: flex;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
    margin: auto;
    font-size: 13px;
    margin-left: 18px;

}

.email {
    width: 150px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid grey;
    font-size: 12px;
    height: 12px;
}

.username {
    width: 150px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid grey;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 12px;
}

.firstname {
    width: 150px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid grey;
    margin-bottom: 5px;
    height: 12px;

}

.lastname {
    width: 150px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid grey;
    height: 12px;

}

.password {
    width: 150px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid grey;
    margin-bottom: 5px;
    height: 12px;
}

.confirmpassword {
    width: 150px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid grey;
    margin-bottom: 5px;
    height: 12px;
}

#signup-button {
    background-color: rgb(255,90,95);
    border: none;
    color: white;   
    border-radius: 16px;
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
}

.email-label {
    font-size: 13px;
}

.username-label {
    font-size: 13px;
}

.firstname-label {
    font-size: 13px;
}

.lastname-label {
    font-size: 13px;
}

.password-label {
    font-size: 13px;
}

.confirmpassword-label {
    font-size: 13px;
}