/* body {
    display: flex;
    align-items: center;
} */

li {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
}

a {
    text-decoration: none;
}

#redir-home {
    position: relative;
    border: none;
    background-color: white;
}

.logo {
    display: block;
    width: 120px;
}

.navigation-bar-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid grey;
    margin-right: 40px;
}

.profile-dropdown {
    border-radius: 16px;
}

#menu-button {
    display: flex;
    opacity: 70%;
    border-radius: 40px;
    height: 60px;
    width: 120px;
    align-items: center;
    justify-content: center;
}

.menu-items {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.profile-icon {
    height: 50px;
    width: 50px;
    margin-right: 5px;
}

#redir-create-spot {
    display: flex;
    flex-wrap: wrap;
    border: none;
    background-color: white;
    font-size: 19px;

}




