form {
    margin-top: 30px;
    font-family: 'Roboto-flex';
}

#login-button {
    background-color: rgb(255,90,95);
    border: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 35px;
    /* width: 250px; */
    border-radius: 16px;
    cursor: pointer;
    font-size: 13px;
    width: 150px;
}

#demo-user-button {
    background-color: rgb(255,90,95);
    border: none;
    color: white;
    height: 35px;
    /* width: 250px; */
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 35px;
    font-size: 13px;
    width: 150px;
}

#nav-login {
    background-color: rgb(255,90,95);
    border: none;
    color: white;   
    width: 5px;
}

.username-email {
    width: 150px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid grey;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 12px;
    font-size: 13px;
}

.password {
    width: 150px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid grey;
    margin-top: 5px;
    height: 12px;
}

.username-email-label, .password-label {
    font-size: 13px;
}

